<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Predict</title>
        <script type="text/javascript" src="brython.js"></script>
        <script type="text/javascript" src="brython_stdlib.js"></script>
        <style>
        img.thumbnail {max-width: 12em; max-height:12em}
        </style>
    </head>
    <body onload="brython(1)">
        <script type="text/python3">
        from browser import document, ajax

        import json
        import warnings
  
        def show_results(response):
            if response.status==200 or response.status==0:
                document["result"].html = response.text
            else:
                warnings.warn(response.text)
  
     
        def submit_survey(ev):
            survey = {}
            for field in document.select("div#survey input"):
                id_ = field.attrs['id']
                val = field.value
                if id_=='username':
                    username = val
                elif val and val.isnumeric():    
                    restaurant_alias = id_.partition('rating_')[2]
                    survey[restaurant_alias] = int(val)
            data = json.dumps({'user': username, 'survey': survey})
            print(data)
            req = ajax.ajax()
            req.bind('complete', show_results)
            req.open('POST', '/survey', True)
            req.set_header('content-type','application/json')
            req.send(data)

        document["submit_button"].bind("click", submit_survey)

        def show_rec(ev):

        </script> 
        
    
        
        
    <div id="survey">
    Enter Username
    <input id="username">
    <img src="img/green-leaf-vietnamese-restaurant-seattle.jpg" class="thumbnail">
    <input id="rating_green-leaf-vietnamese-restaurant-seattle"> 
    <img src="img/il-corvo-pasta-seattle.jpg" class="thumbnail">
    <input id="rating_il-corvo-pasta-seattle"> 
    <img src="img/mee-sum-pastry-seattle.jpg" class="thumbnail">
    <input id="rating_mee-sum-pastry-seattle"> 
    <img src="img/mod-pizza-seattle-7.jpg" class="thumbnail">
    <input id="rating_mod-pizza-seattle-7"> 
    <img src="img/ba-bar-seattle.jpg" class="thumbnail">
    <input id="rating_ba-bar-seattle"> 
    <img src="img/pike-place-chowder-seattle.jpg" class="thumbnail">
    <input id="rating_pike-place-chowder-seattle"> 
    <img src="img/bacco-cafe-and-bistro-seattle-2.jpg" class="thumbnail">
    <input id="rating_bacco-cafe-and-bistro-seattle-2"> 
    <img src="img/metropolitan-grill-seattle.jpg" class="thumbnail">
    <input id="rating_metropolitan-grill-seattle"> 
    <img src="img/el-borracho-seattle.jpg" class="thumbnail">
    <input id="rating_el-borracho-seattle"> 
    <img src="img/specialtys-café-and-bakery-seattle-34.jpg" class="thumbnail">
    <input id="rating_specialtys-café-and-bakery-seattle-34">
    
    <button id="submit_button">Submit!</button>
    
    </div>
    
    
    <div id="recommend">
    Who's eating?! Enter the valid usernames of two users who wish to co-dine
    <input id="eating_partner1">
    <input id="eating_partner2">
    <button id="recommend_button">Get your restaurant recommendation</button>
    </div>
    </body>
</html>
